body {
    background-color: #f7f7f7;
    font-size: large;
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 10px;
    border-top: 2px dashed black;
}

.nav {
    position: relative;
    text-align: center;
    margin-top: 0%;
    word-spacing: 40px;
    background-color: black;
    padding: 30px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#a1 {
    color: #141E61;
    font-weight: bold;
    font-size: large;
}

img {
    height: 250px;
    width: 300px;
    border: 2px solid black;
    margin-left: 470px;
}

.title {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

p {
    font-weight: bold;
    margin-left: 525px;
    margin-top: 30px;
}

#p2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,
li {
    margin-top: 0px;
    font-weight: bold;
    margin-left: 250px;
}